<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.arirus.mddemo">

  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher1"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".MainActivity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".Main2Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".Main3Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".dispatch.Main4Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".scrolling.Main5Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".viewpager.Main6Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".camera.Main7Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".measure.Main8Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".draw.Main9Activity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".anim.AnimActivity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".anim.FilpboardActivity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".material.MaterialEditTextActivity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".layout.LayoutActivity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".scaleableimage.ScaleableActivity">

      <!-- <intent-filter> -->
      <!-- <action android:name="android.intent.action.MAIN"/> -->


      <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
      <!-- </intent-filter> -->
    </activity>
    <activity android:name=".ipc.IpcActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <service
        android:name=".ipc.RemoteService"
        android:enabled="true"
        android:exported="true"
        android:process=":remote"
        >
    </service>

    <activity android:name=".decomp.DecompActivity">
      <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN"/>-->

        <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      <!--</intent-filter>-->
    </activity>
  </application>

</manifest>